{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}
    <div id="home-container">
        <div id="home-logo">
            <a href="/">
                <img src="{{ asset('build/images/logos/logo-CCI.svg') }}" alt="">
            </a>
        </div>
        <h1 class="content-title"><span style="color:  rgba(0, 166, 118, 1);">C</span>oin<span style="color:  rgba(0, 166, 118, 1);">C</span>oins Insolites</h1>
        <p class="content-subtitle">Des lieux à vous clouez le bec.</p>
        <ul>
            <li>
                <a href="#"><img id="google-play" src="{{ asset('build/images/icons/google-play-badge.png') }}" alt="Google Play"></a>
            </li>
            <li>
                <a href="#"><img id="ios-store" src="{{ asset('build/images/icons/Download_on_the_App_Store_Badge_FR_RGB_blk_100517.svg') }}" alt="Apple Store"></a>
            </li>
        </ul>
    </div>

    <div id="qualities-container">
        <div id="qualities-container-flex">
            <div class="quality-container">
                <div class="quality-box">
                    <img src="{{ asset('build/images/icons/wifi-solid-color.svg') }}" alt="Google Play">
                </div>
                <div class="quality-text">
                    <h2>ACCESSIBILITÉ</h2>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
                </div>
            </div>
            <div class="quality-container">
                <div class="quality-box">
                    <img src="{{ asset('build/images/icons/3d-color.svg') }}" alt="Google Play">
                </div>
                <div class="quality-text">
                    <h2>ERGONOMIE</h2>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
                </div>
            </div>
            <div class="quality-container">
                <div class="quality-box">
                    <img src="{{ asset('build/images/icons/speed-color.svg') }}" alt="Google Play">
                </div>
                <div class="quality-text">
                    <h2>RAPIDITÉ</h2>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
                </div>
            </div>
        </div>
    </div>

    <div id="how-its-work-container">
        <div class="black-filter-03">
            <h1><span>C</span>OMMENT <span>Ç</span>A MARCHE</h1>
            <div id="how-its-work-content">
                <p>Découvrez, explorez, partagez les lieux les plus insolites et incroyables du monde.
                    Transformez vos randonnées en expériences inoubliables.</p>
                <ul>
                    <li>
                        <img src="{{ asset('build/images/icons/angle-right-solid-color.svg') }}" alt="">
                        <p>
                            Téléchargez l’application COINCOINS INSOLITES sur votre smartphone.
                        </p>
                    </li>
                    <li>
                        <img src="{{ asset('build/images/icons/angle-right-solid-color.svg') }}" alt="">
                        <p>
                            Connectez-vous à l'application.
                        </p>
                    </li>
                    <li>
                        <img src="{{ asset('build/images/icons/angle-right-solid-color.svg') }}" alt="">
                        <p>
                            Vous êtes maintenant prêt à explorer le monde qui vous entoures.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="design-container">
        <div id="design-title-container">
            <h1>DESIGN MINIMALISTE
                ET INTELLIGENT</h1>
        </div>
        <div id="design-content-container">
            <div id="design-content">
                <div id="design-app-explore" class="design-app">
                    <p>
                        Lorem ipsum dolor sit amet.
                    </p>
                    <hr>
                </div>
                <div id="design-app-search" class="design-app">
                    <p>
                        Lorem ipsum dolor sit amet.
                    </p>
                    <hr>
                </div>
                <div id="design-app-flux" class="design-app">
                    <p>
                        Lorem ipsum dolor sit amet.
                    </p>
                    <hr>
                </div>
                <div id="design-app-nav" class="design-app">
                    <p>
                        Lorem ipsum dolor sit amet.
                    </p>
                </div>
            </div>
            <div id="design-line-container">
                <div class="design-line design-line-one"></div>
                <div class="design-line design-line-two"></div>
                <div class="design-line design-line-three"></div>
                <div class="design-line design-line-four"></div>
            </div>
            <div id="design-mobile-container">
                <img src="{{ asset('build/images/mobile-CCI.png') }}" alt="">
            </div>
        </div>
    </div>
{% endblock %}
